$mainDark: hsl(219, 43%, 16%);
$purple: hsl(264, 100%, 69%);
$lightDark: hsl(218, 20%, 36%);
$magenta: hsl(292, 76%, 54%);
$lightGray: hsl(30, 33%, 93%);
$orange: hsl(31, 100%, 65%);
$white: rgb(255, 255, 255);
